<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>databaseID</key>
        <string>insert Ditto Portal App ID here</string>
        <key>token</key>
        <string>insert Ditto Portal Online Playground Authentication Token here</string>
        <key>url</key>
        <string>insert Ditto Portal Auth URL here</string>
    </dict>
</plist>
